* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  display: block;
  border: none;
}

ul, li {
  list-style: none;
}

/* Tira as setas do input number e deixa as caixas limpas */
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

/* Deixa as imagens responsivas */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Tela Mobile */
.container {
  box-sizing: border-box;
  max-width: 100% ;
  margin: 0 auto;
}

.btn {
  margin-top: 28px;
  width: 140px;
  height: 30px;
  background-color: var(--cor-p7);
  border-radius: 60px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--cor-p9);
  transition: 0.2s;
}