/* Background da tela */
.gradient-bg {
  height: 100vh;
  background: linear-gradient(#38e7f0, #41ba82);
}

/* Container principal da tela de login */
.tela-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 130px;
}

.logo {
  padding-bottom: 10px;
}

/* Container do formulario da tela de login */
.tela-login-form {
  display: grid;
  gap: 20px;
  padding-top: 60px;
}

/* Div dos inputs email e senha */
.email,
.senha {
  display: flex;
  gap: 10px;
}

.form-icon {
  margin-left: -40px;
}

.email-input,
.senha-input {
  width: 210px;
  height: 30px;
  background: transparent;
  border: var(--cor-p0) 2px solid;
  border-radius: 60px;
  outline: none;
  padding-left: 8px;
}

.email-input:focus, .senha-input:focus {
  border: var(--cor-p4) 2px solid;
}

#email::placeholder,
#senha::placeholder {
  font: 400 0.75rem/1.5 "Poppins", sans-serif;
  color: var(--cor-p0);
  opacity: 80%;
}

.login-btn {
  margin-top: 28px;
  width: 140px;
  height: 30px;
  background-color: var(--cor-p7);
  border-radius: 60px;
  border: none;
}

.login-btn:hover {
  background-color: var(--cor-p9);
  transition: 0.2s;
}

.esqueceu-senha {
  padding-top: 20px;
  text-decoration: none;
  color: var(--cor-p0);
}

.criar-conta {
  padding-top: 40px;
  color: var(--cor-p0);
}

.criar-conta a {
  color: #012aff;
}
