.alongamento-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.alongamento-video {
  width: 210px;
  height: 240px;
  margin-top: 10px;
  border-radius: 40px;
}

.alongamento-subtitulo {
  padding-top: 10px;
  max-width: 40ch;
  text-align: center;
}

.alongamento-desc-container {
  overflow-y: scroll;
  max-height: 80px;
  margin: 30px auto;
}

.alongamento-desc {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.enviar-btn {
  width: 140px;
  height: 30px;
  background-color: var(--cor-p7);
  border-radius: 60px;
  border: none;
}

.enviar-btn:hover {
  background-color: var(--cor-p9);
  transition: 0.2s;
}