.nav-bg {
  background-color: var(--cor-p3);
}

.menu-superior {
  display: flex;
  gap: 10px;
}

.menu-superior a {
  display: flex;
  flex-basis: 130px;
  justify-content: center;
  position: relative;
}

.menu-superior a {
  padding: 10px;
}

.menu-superior a::after {
  content: "";
  position: absolute;
  background-color: var(--cor-p0);
  height: 2px;
  width: 0%;
  left: 0;
  bottom: 0;
}

.menu-superior a:hover::after {
  width: 100%;
  transition: 0.3s;
}

.gradient-sub-nav {
  background: linear-gradient(to bottom, #0A8EAF 95%, #047E9C 95%);
}

.sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-nav a {
  margin: 4px 10px;
}