* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 62.5%;
    font-family: 'Poppins';
}

body {
    height: 100vh;
    font-size: 1.6rem;
}

.icons {
    width: 32px;
    height: 32px;
}

.teste {
    grid-template-columns: 1fr;
}