/* TELA PARA MOBILE */

body {
    font-size: 1.4rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url('../../../assets/images/side-view-woman-meditating-with-closed-eyes.jpg');
    background-size: cover; */
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.principal__logo {
    width: 70%;
    border-radius: 100%;
}

.principal__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.principal__formulario .inputUser,
.inputSize {
    width: 70vw;
    padding: .5rem;
}

/* .principal__container__formulario .inputUser::placeholder {
    padding-left: 1rem;
} */

.log-user {
    background-color: rgb(87, 170, 46);
    border: none;
    color: white;
    padding: .9rem;
}

.register-user {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: rgb(19, 19, 231);
}


/* TELA PARA TABLET E DESKTOP */

@media screen and (min-width: 800px) {
    .principal {
        display: flex;
        flex-direction: row;
    }

    .principal__logo {
        width: 40%;
        border-radius: 100%;
    }

    .principal__formulario .inputUser,
    .inputSize {
        width: 30vw;
        padding: .5rem;
}
}